* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ecf0f1;
  height: 100%;
  width: 100%;
  margin: 0;
}

.box {
  margin-top: 10%;
}

.clock {
  font-weight: bolder;
  font-size: 64px;
  text-align: center;
  margin: 50px 0;
  cursor: default;
}

.name_form,
.greetings {
  display: none;
}

.name_form {
  width: 20%;
  height: 15px;
  margin: auto;
  outline: none;
  margin-bottom: 60px;
}

.name_input {
  text-align: center;
}

.showing {
  display: block;
}

.greetings {
  text-align: center;
  font-size: 40px;
  color: #474545;
}

.show__toDoList {
  display: block;
  width: 15%;
  height: 30px;
  margin: auto;
  outline: none;
  border: 1px solid gainsboro;
  cursor: pointer;
  margin-bottom: 30px;
}

.show__toDoList:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

.container {
  width: 48%;
  height: 100%;
  margin: auto;
  border: 1px solid green;
  opacity: 0;
  border-radius: 15px 15px 0 0;
  transition: all 300ms ease-in;
}

#show {
  opacity: 1;
  transition: all 300ms ease-in;
}

h1 {
  margin: 10px 20px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 42px;
  color: #98e3a1;
  border-bottom: 1px dotted #5e7361;
  cursor: default;
}

ul {
  font-size: 24px;
  padding-bottom: 10px;
  list-style-type: none;
}

li {
  font-size: 18px;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 3px;
  margin-right: 50px;
  border-bottom: 1px solid grey;
}

.footer {
  display: block;
  position: relative;
}

input {
  position: relative;
  width: 93%;
  padding: 10px 0;
  border: none;
  outline: none;
}

.enter {
  position: absolute;
  padding: 0;
  width: 7%;
  height: 100%;
  outline: none;
  background-color: greenyellow;
  border: none;
  color: grey;
  cursor: pointer;
}

.fas {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.fas:hover {
  color: red;
  transform: scale(1.1);
}
